@import 'tailwindcss';

.footer {
  @apply relative mt-auto bg-blue-900 text-white;
}

.footer-container {
  @apply container mx-auto px-4 py-6;
}

.footer-content {
  @apply relative flex items-center justify-between gap-2;
}

.contactme {
  @apply flex gap-2 text-xs md:absolute md:left-12 md:gap-4 md:text-lg;
}

.linkedin {
  @apply flex gap-2 md:absolute md:right-12 md:gap-4;
}

.linkedin-a {
  @apply transition-opacity duration-200 hover:opacity-80;
}

.linkedin-icon {
  @apply h-8 w-8;
}

.git-hub {
  @apply flex gap-4 contrast-125;
}

.git-hub-a {
  @apply contrast-125 transition-opacity duration-200 hover:opacity-80;
}

.git-hub-icon {
  @apply h-8 w-8;
}
