<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <!-- Left:  -->
      <div class="contactme">
        <a
          href="mailto:zacharysimmons25@gmail.com"
          class="email"
          aria-label="Email"
        >
          zacharysimmons25@gmail.com
        </a>
        <a href="tel:801-988-9739" class="phone" aria-label="Phone">
          (801) 988-9739
        </a>
      </div>

      <!-- Middle: GitHub -->
      <div class="git-hub">
        <a
          href="https://github.com/zsimmons25/see-more"
          class="git-hub-a"
          aria-label="GitHub"
        >
          <img src="/github.svg" alt="GitHub" class="git-hub-icon" />
        </a>
      </div>

      <!-- Right: LinkedIn -->
      <div class="linkedin">
        <a
          href="https://www.linkedin.com/in/zsimmons25/"
          class="linkedin-a"
          aria-label="LinkedIn"
        >
          <img src="/LinkedIn.png" alt="LinkedIn" class="linkedin-icon" />
        </a>
      </div>
    </div>
  </div>
</footer>
