/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@font-face {
  font-family: 'GT Walsheim';
  src: url('../public/GT Walsheim Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-img-bg: oklch(0.94 0.025 230);

  --font-family-sans: 'GT Walsheim', ui-sans-serif, system-ui, sans-serif;
}

* {
  font-family: var(--font-family-sans);
}
